<app-navbar/>
<div class=" container my-5">
  <div class="card shadow-lg">
    <div class="card-header text-center bg-primary text-white">
      <h2>Travel Auto Booking</h2>
    </div>
    <div class="car">
                <!-- app.component.html -->
        <!-- app.component.html -->
<div class="example-container">
   
    <!-- Add the Book Button next to the Datepicker -->
    <button type="button" class="successbtn btn btn-success" (click)="onBook()">Success</button>
  </div>
   
  
    </div>
  </div>
</div>
