/* Global styles */
/* Place this in src/styles.css */
.form-floating > input ~ label {
  /* Global styles */
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('/assets/images/auto2.png');
    /* background-color: #ffffff; */
    /* background-color: #0d6efd; */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    overflow: hidden; 
}
